<div class="container-fluid">
  <div class="row">
    <div class="">
      <div *ngIf="item" @myInsertRemoveTrigger class="selectedproduct">
        <div>
           <div>
              <mat-card class="example-card">
                <div class="col-12 col-md-6 animated fadeInDown">
                  <h3 class="application-text">The most user friendly ERP application for academic institutions</h3>
                  <p *ngIf="item.items[0].content.productFullDescription">MFK Software ERP is a robust, easy to use, highly customize and the most secured application for educational institutions. 
                  </p>
                  <div class="col-12">
                  <button  (click)="open(onlinedemoform)" mat-raised-button matTooltip="MFK ERP" aria-label="Button that displays a tooltip when focused or hovered over">MFK ERP</button>
                  </div>
                  
                </div>
              <div class="col-12 col-md-6 cardimage">
                  <img class="rounded border animated bounceInDown" mat-card-image src="assets/demo.png" alt="{Photo of a Shiba Inu}">
              </div> 
              </mat-card>
          </div> 
        </div>
    </div>
  </div>

  <div class="col-12 demo-section">
      <div class="row items" >
            <div @myInsertRemoveTrigger class="col-12 col-sm-12 col-md-12 col-xl-4 img-row rounded box flyLeft animated bounceInLeft">
              
                  <mat-card class="example-card" matTooltip="Online Demo">  
                    <div class="header-title"> 
                        <div class="icon">
                            <i class="ico icon-circled icon-bgdark icon-star active icon-3x"></i>
                        </div>
                    </div>
                    <mat-card-content>
                        
                      <div class="col-12 product-description">
                          <div class="">
                              <h4> <strong>MFK ERP</strong> </h4>
                              <p>
                                  MFK Software ERP System is the most user friendly ERP application that can help you in taking care of your student data, teacher data, academic data, employee data, payroll, registration, admission, books, fees, mark sheet, report.....
                              </p>
                              <a  class="learnmore" routerLink="/onlinedemo">Learn More</a>
                            </div>
                      </div>
                        
                    </mat-card-content>
                  </mat-card>
            </div>
            <div @myInsertRemoveTrigger class="col-12 col-sm-12 col-md-12 col-xl-4 img-row rounded box flyLeft animated bounceInRight">
              
                <mat-card class="example-card" matTooltip="Culture Booklet">  
                  <div class="header-title"> 
                      <div class="icon">
                          <i class="ico icon-circled icon-bgdark icon-laptop active icon-3x"></i>
                        </div>
                  </div>
                  <mat-card-content>
                      
                    <div class="col-12 product-description">
                        <div class="">
                            <h4><strong>Culture Booklet</strong></h4>
                            <p>
                                Culture Booklet is a platform that brings you astonishing stuff about various beautiful and diverse cultures from different corners of the world. ...
                            </p>
                            <a class="learnmore" routerLink="/culturebooklet">Learn More</a>
                          </div>
                    </div>
                      
                  </mat-card-content>
                </mat-card>
            </div>
              <div @myInsertRemoveTrigger class="col-12 col-sm-12 col-md-12 col-xl-4 img-row rounded box flyLeft animated bounceInLeft">
                  
                  <mat-card class="example-card" matTooltip="carrier">  
                    <div class="header-title"> 
                        <div class="icon">
                            <i class="ico icon-circled icon-bgdark icon-dropbox active icon-3x"></i>
                          </div>
                    </div>
                    <mat-card-content>
                        
                      <div class="col-12 product-description">
                          <div class="">
                              <h4> <strong> Career</strong></h4>
                              <p>
                                MFK Software always encourages aspiring talents to become a part of its team. At MFK Software we value your education, talent, silks & more importantly time. Let’s do some magic together that will inspire the future.
                              </p>
                              <a class="learnmore" routerLink="/career">Learn More</a>
                            </div>
                      </div>
                        
                    </mat-card-content>
                  </mat-card>
            </div>
      </div>
  </div>
  </div>

  <ng-template #onlinedemoform let-modal>
    <div class="">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Online Demo Form</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-raectiveform></app-raectiveform>
          </div>
    </div>
    
  </ng-template>
</div>
